@font-face {
    font-family: 'ChunkFiveEx';
    src: url('../fonts/ChunkFiveEx/ChunkFiveEx.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ChunkFiveEx/ChunkFiveEx.woff') format('woff'),
    url('../fonts/ChunkFiveEx/ChunkFiveEx.ttf')  format('truetype'),
    url('../fonts/ChunkFiveEx/ChunkFiveEx.svg#ChunkFiveEx') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratAlternates-Light';
    src: url('../fonts/Montserrat-light/MontserratAlternates-Light.eot?#iefix') format('embedded-opentype'),  url('MontserratAlternates-Light.otf')  format('opentype'),
    url('../fonts/Montserrat-light/MontserratAlternates-Light.woff') format('woff'),
    url('../fonts/Montserrat-light/MontserratAlternates-Light.ttf')  format('truetype'),
    url('../fonts/Montserrat-light/MontserratAlternates-Light.svg#MontserratAlternates-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
