header{
    background-image: url(../img/Slaydfon.jpg);
}
.carousel.slide{

    height: calc(100% - 200px);
    color:white;
}
.main-corusel{
    top: 10%;
}
.divider-hr{
    height: 1px;
    background-color: white;
    width: 100%;

}
.list-navbar li{
    margin: 10px;
    padding-right: 32px;
    border-right: 1px solid yellow;
    margin-top: 15px;
}
.list-menu-right a{
    color: white !important;
}
.list-menu{
    background: none;
    border: none;
    box-shadow: none;
}
.list-menu-right{
    font-size: 17px !important;
    font-weight: bold;
    margin-top: 24px;
    padding-right: 0px !important;
}
.list-menu-left {
   font-size: 25px;
    margin-top: 25px;
}
.list-menu-left b {

}
.main-corusel-text{
    text-align: right;
}
.corusel-h1{
    font-size: 54px;
    margin-top: 71px;
    position: relative;
    margin-bottom: 20px;
    font-family: ChunkFiveEx;
}
.corusel-h1:after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 25%;
    background-color: #F6A525;
    height: 3px;
}
.corusel-image{
    text-align: right;
}
.corusel-image-logo{
    position: absolute;
    bottom: 33%;
    right: 0%;
    text-align: center;
    background-color: #F6A525;
    border-radius: 100%;
    width: 17%;
    height: 24%;
}
.corusel-image-logo h3{
    margin-top: -11px;
}
.corusel-button:hover{
    background: none;
    color: white;
    border: 1px solid #F6A525;
}
.corusel-button{
    border-radius: 20px;
    width: 42%;
    font-size: 15px;
    background: none;
    color: white;
    border: 1px solid #F6A525;
    margin-top: 20px;
}
.divider-corusel{
    height: 2px;
    width: 25%;
    background-color: #F6A525;
    /* margin-right: 0px; */
}
.corusel-p{
    font-family: MontserratAlternates-Light;
    font-size: 15px;
}
.list-menu-left li{
    font-family: ChunkFiveEx;
    font-size: 26.3px;
}
.carousel-arrow{

    font-size: 27px;
}
.carousel-tag-right{
    width: 0px;
    height: 0px;
    top: 50%;
    right: -2% !important;
}
.carousel-tag-left{
    width: 0px;
    height: 0px;
    top: 50%;
    left: 2%;
}
.about-us-left{
    background-color: #F6A525;
    color: white;
    text-align: center;
    margin-top: 6%;
}
.about-us-left h1{
   padding-top: 52px;
    font-family: ChunkFiveEx;
    font-size: 34px;
}
.about-us-left p{
    font-size: 17px;
    /* padding-bottom: 59px; */
    width: 83%;
    margin: auto;
    padding-bottom: 61px;
    padding-top: 33px;
}
.about-us-image:after {
    content: "";
    position: absolute;
    border: 2px solid #F6A525;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    margin: auto;
}
.about-us .col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
}
.about-us-image{
    background-image: url("../img/AboutUS.jpg");
    width: 100%;
    height: 47%;
    background-repeat: no-repeat;
}
.about-us{
    margin-top: 8%;
}
.product-our-menus{
    margin-bottom: 30px;
}
.nav-our-menus{
    text-align: center;
    margin-top: 8%;
}
.nav-our-menus-list li{
    width: 10.5%;
}
.nav-our-menus-list a{
    width: 100%;
    font-size: 18.1px;
    border-radius: 43px;
    padding: 2px;
    background: none;
    color: #F6A525;
    border: 1px solid #F6A525;
}
.menus{
    margin-bottom: 30px;
}
.nav-our-menus-list a:hover{
    color:white;
    background-color:#990100 ;
}
.nav-our-menus-list{
    margin-top: 3%;
}
.nav-our-menus h1{
    color: #990100;
    font-family: ChunkFiveEx;
}
.menu-image{
    height: 135px;
    width: 135px;
    border-radius: 100%;
}
.menu-about{
    margin-top: 7%;
    margin-left: 7%;
    margin-bottom: 60px;
    background-position: center;
}
.menu-about h3{
    font-size: 22.3px;
    font-family: ChunkFiveEx;
    color: #F6A525;
    margin-bottom: 5px;
}
.menu-about p{
    font-size: 14px;
    color: #838383;
    margin-bottom: 14px;
}
.menu-about b{
    font-size: 18px;
    color: #990100;
}
.menus{
    margin-top: 8%;
}
.menu-about a{
    text-decoration: none;
}
.pagination-list{
    text-align: center;
    margin-bottom: 60px;
}
.pagination a{
    background: none;
    border-radius: 100% !important;
    margin-right: 10px;
    color: #F6A525 !important;
    border: 1px solid #F6A525 !important;
    font-weight: bold;
}
.pagination a:hover{
    color: white !important;
    background-color: #990100 !important;
    border: none !important;
}
.reservation{
    background-image: url('../img/Reservation.jpg');
    width: 100%;
    height: 56%;
    background-repeat: no-repeat;
    background-size:cover ;
}
.reservation-form{
    background-color:#F6A525 ;
    position: absolute;
    width: 88%;
    right: 0px;
    margin-top: 9%;
}
.reservation-image{
    width: 100%;
}
.reservation-form-body input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding-left: 0px;
}
.reservation-title{
    color: white;
    width: 90%;
    margin: auto;
}
.reservation-title h1{
    font-size: 30px;
    font-family: ChunkFiveEx;
}
.reservation-title p{
    font-size: 15px;
    font-family: MontserratAlternates-Light;
}
.reservation-form-body{
    width: 90%;
    margin: auto;
}
.form-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    font-size: 14.2px;
}
.form-input input::-moz-placeholder { /* Firefox 19+ */
    color: white;
    font-size: 14.2px;
}
.form-input input:-ms-input-placeholder { /* IE 10+ */
    color: white;
    font-size: 14.2px;
}
.form-input input:-moz-placeholder { /* Firefox 18- */
    color: white;
    font-size: 14.2px;
}
.form-input input{
    width: 100%;
    /*margin: auto;*/
    padding: 3px;
    margin-top: 30px;
}
.form-message{
    padding-bottom: 35px !important;
    margin-bottom: 35px;
}
.form-button{
    width: 100%;
    background: none;
    box-shadow: none;
    border: 1px solid white;
    margin-bottom: 32px;
    color: white;
    font-size: 21px;
    font-family: ChunkFiveEx;
    margin-top: 7px;
}
.form-button:hover{
    background: none;
    border: 1px solid white;
    color: white;
}
.form-button:visited{
    background: none;
    border: 1px solid white;
    color: white;
}
.form-button:active{
    background: none;
    border: 1px solid white;
    color: white;
}
.form-button:link{
    background: none;
    border: 1px solid white;
    color: white;
}
.form-button:focus{
    background: none;
    border: 1px solid white;
    color: white;
}





















